<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerPointLaTeX.Properties.MiKTexSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PowerPointLaTeX.Properties.MiKTex" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PowerPointLaTeX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerPointLaTeX.Properties.MiKTexSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PowerPointLaTeX.Properties.MiKTex" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerPointLaTeX.Properties.MiKTexSettings>
            <setting name="MikTexPath" serializeAs="String">
                <value>d:\LaTeX\MiKTeX Portable</value>
            </setting>
            <setting name="LatexPath" serializeAs="String">
                <value>d:\LaTeX\MiKTeX Portable\miktex\bin\latex.exe</value>
            </setting>
            <setting name="DVIPNGPath" serializeAs="String">
                <value>d:\LaTeX\MiKTeX Portable\miktex\bin\dvipng.exe</value>
            </setting>
        </PowerPointLaTeX.Properties.MiKTexSettings>
        <PowerPointLaTeX.Properties.MiKTex>
            <setting name="MikTexPath" serializeAs="String">
                <value>d:\LaTeX\MiKTeX Portable</value>
            </setting>
            <setting name="LatexPath" serializeAs="String">
                <value>d:\LaTeX\MiKTeX Portable\miktex\bin\latex.exe</value>
            </setting>
            <setting name="DviPNGPath" serializeAs="String">
                <value>d:\LaTeX\MiKTeX Portable\miktex\bin\dvipng.exe</value>
            </setting>
            <setting name="LatexOptions" serializeAs="String">
                <value>-enable-installer -interaction=nonstopmode</value>
            </setting>
            <setting name="DVIPNGOptions" serializeAs="String">
                <value>-T tight --depth --height -D 300 --noghostscript --picky -q -z 0</value>
            </setting>
            <setting name="LatexService" serializeAs="String">
                <value>MiKTeXService</value>
            </setting>
        </PowerPointLaTeX.Properties.MiKTex>
        <PowerPointLaTeX.Properties.Settings>
            <setting name="ShowDeveloperTaskPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAddIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatexService" serializeAs="String">
                <value>MiKTeX Service</value>
            </setting>
        </PowerPointLaTeX.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PowerPointLaTeX.Properties.MiKTexSettings>
            <setting name="Default_LatexRelPath" serializeAs="String">
                <value>miktex\bin\latex.exe</value>
            </setting>
            <setting name="Default_DVIPNGRelPath" serializeAs="String">
                <value>miktex\bin\dvipng.exe</value>
            </setting>
            <setting name="MikTexTemplate" serializeAs="String">
                <value>\documentclass{article} 
\usepackage{amsmath}
\usepackage{amsthm}
\usepackage{amssymb}
\usepackage[active,displaymath,textmath,tightpage]{preview}
\usepackage{bm}
\newcommand{\mx}[1]{\mathbf{\bm{#1}}} % Matrix command
\newcommand{\vc}[1]{\mathbf{\bm{#1}}} % Vector command 
\newcommand{\T}{\text{T}}                % Transpose
\begin{document}
\begin{preview}
LATEXCODE
\end{preview}
\end{document}
      </value>
            </setting>
        </PowerPointLaTeX.Properties.MiKTexSettings>
        <PowerPointLaTeX.Properties.MiKTex>
            <setting name="Default_LatexRelPath" serializeAs="String">
                <value>miktex\bin\latex.exe</value>
            </setting>
            <setting name="Default_DVIPNGRelPath" serializeAs="String">
                <value>miktex\bin\dvipng.exe</value>
            </setting>
            <setting name="MikTexTemplate" serializeAs="String">
                <value>\documentclass{article} 
\usepackage{amsmath}
\usepackage{amsthm}
\usepackage{amssymb}
\usepackage[active,displaymath,textmath,tightpage]{preview}
\usepackage{bm}
\newcommand{\mx}[1]{\mathbf{\bm{#1}}} % Matrix command
\newcommand{\vc}[1]{\mathbf{\bm{#1}}} % Vector command 
\newcommand{\T}{\text{T}}                % Transpose
\begin{document}
\begin{preview}
LATEXCODE
\end{preview}
\end{document}
      </value>
            </setting>
        </PowerPointLaTeX.Properties.MiKTex>
    </applicationSettings>
</configuration>